name: Node.js CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - name: Install Dependencies and Run Code
        run: |
          npm install
          nodemon server/index.mjs
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
