name: Node.js CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - name: Install Dependencies and Run Code
        run: |
          npm install
          node index.js
        env:
          # Map the GitHub secret to an environment variable name (e.g., MY_API_KEY)
          MY_API_KEY: ${{ secrets.API_KEY }}
